GOOSE_AEO_PERPLEXITY_API_KEY=
GOOSE_AEO_OPENAI_API_KEY=
GOOSE_AEO_GEMINI_API_KEY=
GOOSE_AEO_GROK_API_KEY=
GOOSE_AEO_CLAUDE_API_KEY=
GOOSE_AEO_DEEPSEEK_API_KEY=
GOOSE_AEO_FIRECRAWL_API_KEY=
GOOSE_AEO_ALERT_SLACK_WEBHOOK_URL=
GOOSE_AEO_ALERT_EMAIL_TO=
GOOSE_AEO_ALERT_EMAIL_FROM=
GOOSE_AEO_SMTP_HOST=
GOOSE_AEO_SMTP_PORT=
GOOSE_AEO_SMTP_USER=
GOOSE_AEO_SMTP_PASS=
